<div class="well jug-info">

  <div class="text-center">
    <img src="images/specials/devparty-banniere.png"/>
  </div>

  <div style="overflow: auto;">
    <p><b>Serez-vous le développeur de l'année ???</b></p>

    <p><b>Venez participer à DevParty@Nantes !</b></p>

    <p>Le 4 juin, à partir de 19h00, mesurez votre culture geek et votre capacité à résoudre des challenges de programmation. De la bière, des pizza, du code et des lots seront au programme :)</p>

    <p>A gagner :</p>

    <p></p>

    <p></p>
    <ul>
      <li>1 Nexus 10<br>
      </li>
      <li>1 Nexus 7<br>
      </li>
      <li>2 licences IntelliJ<br>
      </li>
      <li>1 place pour le DevFest</li>
      <li>5 comptes premium DoYouBuzz<br>
      </li>
      <li>Des dizaines de milliers de drops CleverCloud<br>
      </li>
    </ul>
    <br />
    <p>Le challenge <b>est ouvert à tous</b> car il est possible de participer avec votre langage préféré (Java, C, Python, JavaScript, C# et PHP).&nbsp;</p>

    <p>Vous serez également <b>les DJs de la soirée</b> grâce à l'application SounderBox qui vous permettra de créer une Playlist collaborative.</p>

    <p>Au programme de la soirée :<br></p>

    <p></p>

    <p>- 19h00 : Ouverture des portes<br>- <b>19h30 : Début - présentation du challenge</b><br>- 19h45 : Epreuve 1 : QCM 1<br>- 20h05 : Interview des premiers - présentation challenge<br>- 20h15 : Epreuve 2 : Challenge de programmation 1 - Facile (30 minutes)<br>- <b>20h45 : Pause repas</b><br>- 21h15 : Epreuve 3 : QCM 2<br>- 21h45 : Epreuve 4 : Challenge de programmation 2 - Moyen (1h30 minutes)&nbsp;<br>- <b>23h30 : Remise des prix</b></p>

    <p>Ca va de soi, pensez à ramener votre PC / Mac ! Bien sûr, la participation est individuelle.&nbsp;Vous pourrez coder sur l'interface en ligne ou sur votre environnement de programmation préféré. </p>

    <p>Le&nbsp;règlement&nbsp;est accessible <a href="http://fr.scribd.com/doc/137759034/reglement-devparty">ici</a>.</p>
    <br><b> Les organisateurs :&nbsp;</b> <b><br></b> <b><br></b> <b><img src="http://drive.google.com/uc?export=view&amp;id=0B1BwIEGZG0vrU2NBSXlFbDN6cXM"><br></b><br><b> Les partenaires :</b> <b><br></b> <b><br></b>&nbsp; <img src="http://drive.google.com/uc?export=view&amp;id=0B1BwIEGZG0vrbmJ1TzNvZXJ0dUU"><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br><b><br></b> <b>Le partenaire presse :</b>&nbsp; <br><b>&nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="http://www.toolinux.com/IMG/siteon0.png"></b><br>
  </div>

</div>
