<link rel="stylesheet" href="styles/deps/departure-board.css" />
<link rel="stylesheet" href="styles/draw.css" />

<div class="row well" >
    <div class="drawLists col-xs-12 col-md-3">
        <div class="row">
            <div class="whatList col-xs-6 col-md-12">
                <h2>Lots</h2>
                <div class="editable"></div>
            </div>
            <div class="whoList col-xs-6 col-md-12">
                <h2>Participants</h2>
                <div class="editable"></div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-9">
        <div class="draw-buttons">
            <button id="draw" class="btn btn-primary">Tirage du prochain lot</button>
            <button id="drawNewWho" class="btn btn-primary" disabled>Tirer un nouveau gagnant</button>
            <button id="resetDraw" class="btn btn-default" disabled>Réinitialiser</button>
        </div>

        <div class="boards">
            <!-- emplacement for boards -->
        </div>

    </div>
</div>


<script src="scripts/deps/departure-board.js"></script>
<script src="scripts/tools/draw.js"></script>