<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Nantes JAVA User Group</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-5134058-1', 'nantesjug.org');
    ga('send', 'pageview');

  </script>

</head>

<body ng-app="nantesjugApp" ng-controller="MenuCtrl" ng-class="{ 'hide-layout': !showLayout() }">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="scripts/deps/es5-shim.min.js"></script>
<script src="scripts/deps/json3.min.js"></script>
<![endif]-->

<div class="navbar navbar-default navbar-fixed-top layout" ng-if="showLayout()" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <!-- Responsive menu -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Default menu -->
      <!--<div class="java_logo">-->
      <span class="navbar-brand java_logo hidden-xs"><span></span></span>

      <a href="#/" class="navbar-brand">Nantes <abbr title="Java User Group">JUG</abbr></a>
      <!--</div>-->
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: urlStartsWith('/events')}"><a ng-href="#/events">Soirées</a></li>
        <li ng-class="{ active: urlStartsWith('/speakers')}"><a ng-href="#/speakers">Speakers</a></li>
          <li ng-class="{ active: urlIs('/sponsors')}" class="dropdown"><a ng-href="#/sponsors">Sponsors</a></li>
          <li ng-class="{ active: urlIs('/infos')}"><a ng-href="#/infos">Infos</a></li>
          <li ng-class="{ active: urlStartsWith('/specials')}" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Événements <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-class="{ active: urlIs('/specials/devoxx4kids')}"><a ng-href="#/specials/devoxx4kids">Devoxx4Kids</a></li>
            <li ng-class="{ active: urlIs('/specials/devparty')}"><a ng-href="#/specials/devparty">DevParty</a></li>
          </ul>
        </li>
      <li ng-class="{ active: urlStartsWith('/tools')}" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Outils <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-class="{ active: urlIs('/tools/draw')}"><a ng-href="#/tools/draw">Tirage au sort</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>


<div class="container">

  <div class="row layout" ng-if="showLayout()">
    <div class="jug-logo pull-right">
      <img class="img-responsive" src="images/site/logo_jug.png" alt="Nantes Java User Group">
    </div>

    <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <a href="http://regbe.devoxx.com/public#DV14" target="_blank" title="Devoxx 2014">
        <img src="images/sponsors/devoxx-be-2014.gif" alt="Devoxx 2014" title="Devoxx 2014" class="img-responsive">
    </a>
    </div>
  </div>


  </div>



  <div ui-view></div>

</div><!--/.container-->

<section class="layout" ng-if="showLayout()">
    <div class="container">
        <ng-include src="'views/templates/sponsors.html'" ng-if="showSponsors()"></ng-include>
        <ng-include src="'views/templates/partners.html'"></ng-include>
    </div>
</section>

<footer class="layout" ng-if="showLayout()">
  <div class="container">
    <div class="subscribe">
      Pour être informé des prochaines soirées du Nantes JUG, inscrivez-vous à la
      <a href="https://groups.google.com/forum/#!forum/nantesjug" target="_blank">mailing list</a> :
      <form action="http://groups.google.com/group/nantesjug/boxsubscribe" target="_blank">
      <input type="text" class="form-control input-sm" name="email" placeholder="votre email + <entrée>">
      </form>
    </div>
    <div class="row line2">
        <div class="col-sm-12 col-md-6 twitter">
            Suivez-nous sur <a class="btn-twitter" title="@nantesjug" href="https://twitter.com/nantesjug" target="_blank">@nantesjug</a>
        </div>
        <div class="col-sm-12 col-md-6 coffee">
            <a href="http://www.coffeeshopnantes.fr/" target="_blank" title="92.5 Coffee">92.5 Coffee</a> - Fournisseur officiel de café
            <a href="http://www.coffeeshopnantes.fr/" target="_blank" title="92.5 Coffee">
                <img class="coffee-nantes" src="images/sponsors/coffee_nantes.png" alt="92.5 Coffee" title="92.5 Coffee">
            </a>
        </div>
    </div>
  </div>

</footer>

<!-- dev/offline dependencies -->
<!--
<script src="scripts/deps/jquery.js"></script>
<script src="scripts/deps/bootstrap.js"></script>
<script src="scripts/deps/angular.js"></script>
<script src="scripts/deps/underscore.js"></script>
<script src="scripts/deps/md5.js"></script>
<script src="scripts/deps/angular-gravatar.js"></script>
<script src="scripts/deps/angular-locale_fr-fr.js"></script>
<script src="scripts/deps/angular-resource.min.js"></script>
<script src="scripts/deps/angular-cookies.min.js"></script>
<script src="scripts/deps/angular-sanitize.js"></script>
-->

<!-- dependencies -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script src="scripts/deps/lodash.min.js"></script>
<script src="scripts/deps/md5.js"></script>
<script src="scripts/deps/angular-ui-router.min.js"></script>
<script src="scripts/deps/angular-gravatar.js"></script>
<script src="scripts/deps/angular-locale_fr-fr.js"></script>
<script src="scripts/deps/angular-resource.min.js"></script>
<script src="scripts/deps/angular-cookies.min.js"></script>
<script src="scripts/deps/angular-sanitize.js"></script>
<script src="scripts/deps/angulartics.min.js"></script>
<script src="scripts/deps/angulartics-google-analytics.min.js"></script>

<!-- data -->
<script src="scripts/data/places.js"></script>
<script src="scripts/data/speakers.js"></script>
<script src="scripts/data/events.js"></script>

<!-- app -->
<script src="scripts/app.js"></script>
<script src="scripts/module-nj.js"></script>
<script src="scripts/controllers/main.js"></script>

<!-- AddThis Smart Layers BEGIN -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52556183099b79ef"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    if (typeof(addthis) != 'undefined') {
      addthis.layers({
        'theme' : 'transparent',
        'share' : {
          'position': 'left',
          'services': 'facebook,twitter,google_plusone_share,linkedin,gmail,more',
          'mobile': false
        },
          responsive: false
      });
    }
  });
</script>
<!-- AddThis Smart Layers END -->
</body>
</html>
