<h2>Qu'est ce que le Nantes JUG?</h2>

<p>L'objectif du Nantes Java User Group est de permettre à des acteurs et utilisateurs du langage Java (professionnels, communautés open source, universitaires, étudiants) de se rencontrer et d'échanger autour des technologies Java.</p>

<p>
  Des rencontres seront organisées tous les deuxièmes jeudi du mois, sous forme de réunions gratuites, ouvertes à tous. Les réunions pourront prendre la forme :
<ul>
  <li>de présentations techniques</li>
  <li>de démonstrations de produits</li>
  <li>de séances de travaux pratiques</li>
  <li>de tables rondes sur l'architecture, l'évolution de Java, l'actualité...</li>
  <li>de retour d'expérience</li>
</ul>
</p>

<p>
  La soirée se poursuit généralement par une discussion autour d'un verre et d'un buffet.
</p>
<p>
  La question est alors : mais qui va parler lors de ces soirées? Les intervenants seront d'horizons différents, il pourra s'agir de créateur de framework, de membres actifs des communautés open source ou de consultants. vous pourrez également intervenir, si vous souhaitez nous faire part de vos retours d’expériences sur tous sujets : framework, API, outils… Pour cela, contactez nous.
</p>

<h2>Nous Contacter</h2>
Si vous souhaitez nous faire part de vos remarques, d’un sujet de présentation, vous impliquer dans la vie du Nantes JUG ou tout simplement nous féliciter, alors écrivez-nous à <a href="mailto:team@nantesjug.org">team@nantesjug.org</a>.

<h2>Suivre les news du Nantes JUG</h2>

<p>Pour suivre toutes les news du Nantes JUG vous pouvez vous abonner à la <a href="http://groups.google.com/group/nantesjug" target="_blank">mailing list</a>.</p>
<p><em>Note : Veuillez bien paramétrer vos notifications pour recevoir tous les messages en choisissant <span style="white-space:pre-wrap">M'envoyer un e-mail pour chaque nouveau message (moins d'1 par jour)"</span></em>.</p>

<h2>Les organisateurs</h2>

Le JUG de Nantes est un association loi 1901 composée de :
<ul>
  <li><a href="http://www.linkedin.com/in/sebastienroul" target="_blank" rel="nofollow">Sebastien Roul</a> de <a href="http://netapsys.fr">Netapsys</a> (Fondateur)</li>
  <li><a href="http://%20http://www.linkedin.com/in/tugdualgrall" target="_blank" rel="nofollow">Tugdual Grall</a> (Tug) de <a href="http://couchbase.com">Couchbase</a> (Fondateur)</li>
  <li><a href="http://fr.viadeo.com/fr/profile/manuel.boillod" target="_blank" rel="nofollow">Manuel Boillod</a> de <a href="http://zenika.com">Zenika</a></li>
  <li><a target="_blank" rel="nofollow">Pierre Cosson</a> de <a href="http://www.kosmos.fr">Kosmos</a></li>
</ul>