<div class="well jug-info">

  <h1 id="infos">Infos</h1>
  <h2>Qu'est ce que le Nantes JUG ?</h2>

  <p>
    L'objectif du Nantes Java User Group est de permettre à des acteurs et utilisateurs du langage Java (professionnels, communautés open source, universitaires, étudiants) de se rencontrer et d'échanger autour des technologies Java.
    <br><br>
    Des rencontres seront organisées tous les mois, sous forme de réunions gratuites, ouvertes à tous. Les réunions pourront prendre la forme :
    <ul>
      <li>de présentations techniques</li>
      <li>de démonstrations de produits</li>
      <li>de séances de travaux pratiques</li>
      <li>de tables rondes sur l'architecture, l'évolution de Java, l'actualité...</li>
      <li>de retour d'expérience</li>
    </ul>
  </p>

  <p>
    La soirée se poursuit généralement par une discussion autour d'un verre et d'un buffet.
    <br><br>
    La question est alors : mais qui va parler lors de ces soirées? Les intervenants seront d'horizons différents, il pourra s'agir de créateur de framework, de membres actifs des communautés open source ou de consultants. vous pourrez également intervenir, si vous souhaitez nous faire part de vos retours d’expériences sur tous sujets : framework, API, outils… Pour cela, contactez nous.
  </p>

  <p>
    <strong>La participation est LIBRE &amp; GRATUITE.</strong>
  </p>

  <h2>Nous Contacter</h2>

  <p>
    Si vous souhaitez nous faire part de vos remarques, d’un sujet de présentation, vous impliquer dans la vie du Nantes JUG ou tout simplement nous féliciter, alors écrivez-nous à <a href="mailto:team@nantesjug.org">team@nantesjug.org</a>.
  </p>

  <h2>Suivre les news du Nantes JUG</h2>

  <p>
    Pour suivre toutes les news du Nantes JUG, abonnez-vous à notre
    <a href="http://www.meetup.com/fr-FR/Nantes-Java-User-Group/" title="Meetup du JUG" target="_blank"><img src="images/site/meetup.svg" height="20px"></a>
    <!--
    ou vous abonner à notre
    <a href="https://groups.google.com/forum/#!forum/nantesjug" title="Mailing list du JUG" target="_blank">mailing list</a>.
    <br><br>
    <em>Note : Veuillez bien paramétrer vos notifications pour recevoir tous les messages en choisissant M'envoyer un e-mail pour chaque nouveau message (moins d'1 par jour)".</em>
    -->
  </p>
  <h2>Les organisateurs</h2>

  <p>
    Le JUG de Nantes est un association loi 1901 composée de :
  </p>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/tugdualgrall" title="Tugdual Grall" target="_blank">Tugdual Grall</a> (Tug) Solutions Engineer at  <a href="https://github.com/" title="GitHub" target="_blank">GitHub</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/manuelboillod" title="Manuel Boillod" target="_blank">Manuel Boillod</a>, Cloud architect / DevOps (Freelance)
    </li>
    <li>
      <a href="https://www.linkedin.com/in/pierre-cosson-988a6356" title="Pierre Cosson">Pierre Cosson</a> Senior Backend Developer chez <a href="https://www.talend.com/" title="Talend" target="_blank">Talend</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/adrien-pessu/" title="Adrien Pessu" target="_blank">Adrien Pessu</a>, Freelance DevSecOps consultant
    </li>
    <li>
      <a href="https://www.linkedin.com/in/arnaud-thimel-5479114/" title="Arnaud Thimel" target="_blank">Arnaud Thimel</a>, Developpeur/Architecte chez <a href="https://www.codelutin.com" title="Code Lutin" target="_blank">Code Lutin</a>
    </li>
  </ul>

</div>
