<!--<h1 class="text-center">Nantes Java User Group</h1>-->

<!--<br>-->
<!--<p>-->
  <!--Le Nantes-JUG une association pour parler technique : Langages, outils, technos, bonnes pratiques !-->
<!--</p>-->
<!--<p>-->
<!--Ce groupe d'utilisateurs Java a pour but de réunir les acteurs du langage (professionnels, communautés open source, institutions, étudiants, enseignants...) afin d'échanger des idées et de discuter des avancées technologiques de la plateforme Java.-->
<!--</p>-->
<!--<p>-->
  <!--Intéressé pour en savoir plus, vous investir dans l'aventure nantaise, participer, ou tout simplement suivre nos rencontres, n'hésitez pas, c'est libre et gratuit.-->
<!--</p>-->
<!--<p>-->
<!--Nous nous retrouvons le deuxième mercredi de chaque mois pour discuter d'un thème, d'une technologie ou d'un outil.-->
<!--</p>-->
<!--<p>-->
<!--La participation est LIBRE & GRATUITE.-->
<!--</p>-->
<!--<p>-->
  <!--<a ng-href="http://twitter.com/nantesjug" target="_blank">-->
    <!--<span class="social social-twitter" data-toggle="tooltip" title="@nantesjug"></span>-->
  <!--</a>-->
  <!--Suivez-nous sur twitter-->
  <!--<a ng-href="http://twitter.com/nantesjug" target="_blank">-->
    <!--@nantesjug-->
  <!--</a>-->
<!--</p>-->

<!--<h2 class="text-center">Prochaine soirée</h2>-->
<!--<br>-->

<ng-include src="'views/event.html'"></ng-include>

<!--<script type="text/javascript">-->
  <!--$('.social').tooltip();-->
<!--</script>-->
