<div class="well">
  <h1 id="speaker">
    {{speaker.name}}
    <!-- Socials -->
    <span class="pull-right">
      <a ng-href="http://twitter.com/{{speaker.twitter}}" target="_blank"><span class="social social-twitter" ng-show="speaker.twitter" data-toggle="tooltip" title="@{{speaker.twitter}}"></span></a>
      <a ng-href="http://plus.google.com/{{speaker.gplus}}" target="_blank"><span class="social social-gplus" ng-show="speaker.gplus" data-toggle="tooltip" title="+{{speaker.name}}"></span></a>
      <a ng-href="http://github.com/{{speaker.github}}" target="_blank"><span class="social social-github" ng-show="speaker.github" data-toggle="tooltip" title="{{speaker.github}}"></span></a>
    </span>
  </h1>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
      <img ng-show="speaker.gravatar && !speaker.photo" gravatar-src="speaker.gravatar" class="img-polaroid speaker_photo" gravatar-size="150" alt="{{speaker.name}}" />
      <img ng-show="!speaker.gravatar && !speaker.photo" src="/images/gravatar-duke.jpg" class="img-polaroid speaker_photo" alt="{{speaker.name}}" />
      <img ng-show="speaker.photo" ng-src="{{getSpeakerPhotoUrl(speaker)}}" class="img-polaroid speaker_photo" alt="{{speaker.name}}" />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <p ng-bind-html-unsafe='speaker.bio'></p>

      <div ng-show="subjects" class="jug-speaker-subjects">
        <strong>Sujets</strong>
        <ul>
          <li ng-repeat="subject in subjects | orderBy: '!event.date'">
            <span class="label label-info">{{subject.subject.type}}</span>
            <a ng-href="#/events/{{subject.event.id}}">
              {{subject.event.date | date:'shortDate'}} - {{subject.subject.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.social').tooltip();
</script>