<input type="search" class="form-control jug-search" placeholder="Rechercher un speaker" autofocus="" ng-model="searchText">

<div class="row jug-speakers">

  <div class="jug-speakers-item col-xs-6 col-sm-4 col-md-3" ng-repeat="speaker in speakers | orderBy:'name' | filter: {name: searchText}">
    <a ng-href="#/speakers/{{speaker.id}}" class="thumbnail">
      <img ng-show="speaker.gravatar && !speaker.photo" gravatar-src="speaker.gravatar" class="img-polaroid speaker_photo" gravatar-size="150" alt="{{speaker.name}}">
      <img ng-show="!speaker.gravatar && !speaker.photo" src="/images/gravatar-duke.jpg" class="img-polaroid speaker_photo" alt="{{speaker.name}}">
      <img ng-show="speaker.photo" ng-src="/images/speakers/{{speaker.id}}.{{speaker.photo}}" class="img-polaroid speaker_photo" alt="{{speaker.name}}">
      <p class="text-center">{{speaker.name}}</p>
    </a>
  </div>

</div>