<input type="search" class="form-control jug-search" placeholder="Rechercher un speaker" autofocus="" ng-model="searchText">

<div class="jug-speakers row">

  <div class="jug-speakers-item col-xs-6 col-sm-4 col-md-3" ng-repeat="speaker in speakers | orderBy:'name' | filter: {name: searchText}">
    
    <a ng-href="#/speakers/{{speaker.id}}" class="thumbnail text-center">
      <img ng-if="speaker.gravatar && !speaker.photo" gravatar-src="speaker.gravatar" class="img-polaroid speaker_photo" gravatar-size="150" alt="{{speaker.name}}">
      <img ng-if="!speaker.gravatar && !speaker.photo" src="/images/gravatar-duke.jpg" class="img-polaroid speaker_photo" alt="{{speaker.name}}">
      <img ng-if="speaker.photo" ng-src="{{getSpeakerPhotoUrl(speaker)}}" class="img-polaroid speaker_photo" alt="{{speaker.name}}">
      {{speaker.name}}
    </a>

  </div>

</div>