<div class="jug-promo">
  <h3>Devoxx.Be</h3>
  <p><em>Du 11 au 15 nov. 2013</em></p>
  <a href="https://regbe.devoxx.com" target="_blank" rel="nofollow">
    <img alt="Inscription : https://regbe.devoxx.com" src="https://sites.google.com/site/nantesjug/_/rsrc/1379888473706/config/devoxx_banner.gif" class="img-responsive">
    <p><i>&gt;&gt; S'inscrire</i></p>
  </a>
</div>

<div class="jug-sponsors">
  <h3>Sponsors</h3>
  <a href="http://zenika.com/" target="_blank" rel="nofollow">
    <img src="/images/9f1f7246.logo-zenika.jpg" alt="Zenika" class="img-responsive">
  </a>
  <a href="http://couchbase.com" target="_blank" rel="nofollow">
    <img src="/images/4d47f484.logo-couchbase.png" alt="Couchbase" class="img-responsive">
  </a>
  <a href="http://netapsys.fr" target="_blank" rel="nofollow">
    <img src="/images/f631ac58.logo-netapsys.png" alt="Netapsys" class="img-responsive">
  </a>
</div>