<div class="row sponsors-page">
    <div class="col-md-12">
        <div class="well">
            <div class="row sponsors sponsors-gold">
                <h1>Sponsors Gold
                    <!-- <img class="sponsors-type" src="images/parrains/gold_sponsor.png" alt="Sponsors Gold"/>--></h1>
                <div class="col-xs-6 col-sm-6 text-center">
                    <a href="https://www.codelutin.com" target="_blank" title="Code Lutin">
                        <img src="images/parrains/codelutin.png" alt="Code Lutin" title="Code Lutin"
                             class="img-responsive center-block">
                    </a>
                </div>

                <div class="col-xs-6 col-sm-6 text-center">
                  <a href="https://seyos.fr" target="_blank" title="Softeam">
                      <img src="images/parrains/seyos.png" alt="Seyos" title="Seyos"
                           class="img-responsive center-block">
                  </a>
                </div>

                <div class="col-xs-6 col-sm-6 text-center">
                  <a href="https://www.oxiane.bzh" target="_blank" title="Oxiane Bretagne">
                      <img src="images/parrains/oxiane.png" alt="Oxiane" title="Oxiane Bretagne"
                           class="img-responsive center-block">
                  </a>
                </div>

                <div class="col-xs-6 col-sm-6 text-center">
                  <a href="https://www.groupeonepoint.com" target="_blank" title="Onepoint">
                      <img src="images/parrains/onepoint.png" alt="Onepoint" title="Onepoint" class="img-responsive center-block">
                  </a>
                </div>
            </div>

            <div class="row sponsors sponsors-silver">
                <h1>Sponsors Silver
                    <!-- <img class="sponsors-type" src="images/parrains/gold_sponsor.png" alt="Sponsors Gold"/>--></h1>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <a href="https://www.zenika.com/" target="_blank" title="Zenika">
                                    <img src="images/parrains/zenika.png" alt="Zenika" title="Zenika"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="col-xs-6 text-center">
                                <a href="https://www.groupe-creative.fr/" target="_blank" title="Creative Atlantique">
                                    <img src="images/parrains/creativeatlantique.png" alt="Creative Atlantique"
                                         title="Creative Atlantique" class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="col-xs-6 text-center">
                                <a href="https://www.linkedin.com/company/deliatechnologies" target="_blank" title="Délia Technologies">
                                    <img src="images/parrains/delia.png" alt="Délia Technologies" title="Délia Technologies"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="col-xs-6 text-center">
                                <a href="https://www.kanoma.fr/" target="_blank" title="Kanoma">
                                    <img src="images/parrains/kanoma.png" alt="Kanoma" title="Kanoma"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="col-xs-6 text-center">
                                <a href="http://www.groupe-sii.com/fr" target="_blank" title="Groupe SII">
                                    <img src="images/parrains/sii.png" alt="Groupe SII" title="Groupe SII"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="col-xs-6 text-center">
                                <a href="https://www.sfeir.com" target="_blank" title="Sfeir">
                                    <img src="images/parrains/sfeir.png" alt="Sfeir" title="Sfeir"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="col-xs-6 text-center">
                                <a href="https://www.kleegroup.com" target="_blank" title="Klee Group">
                                    <img src="images/parrains/kleegroup.png" alt="Klee Group" title="Klee Group"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="col-xs-6 text-center">
                                <a href="https://www.younup.fr" target="_blank" title="Younup">
                                    <img src="images/parrains/younup.png" alt="Younup" title="Younup"
                                         class="img-responsive center-block">
                                </a>
                                Younup, la néo-ESN agile et humaine est partenaire du JUG Nantes ! 
                                Présente dans 4 villes en France, réunissant pas loin de 200 collaborateurs, Younup prône des valeurs de transparence, de co-construction, de partage et d'expertise. 
                                Nous sommes très contents d'intégrer la communauté du JUG Nantes !
                            </div>
                        </div>
                    </div>
                </div>
            <div class="text-center">Vous souhaitez devenir sponsors, contactez nous à <a href="mailto:team@nantesjug.org">team@nantesjug.org</a></div>
        </div>
    </div>
</div>
