<div class="row sponsors-page">
    <div class="col-md-12">
        <div class="well">
            <h1>Sponsors Gold</h1>

            <div class="row equal-row sponsors sponsors-gold">
                <div class="col-xs-6 col-sm-6 text-center">
                    <a href="https://www.codelutin.com" target="_blank" title="Code Lutin">
                        <img src="images/parrains/codelutin.png" alt="Code Lutin" title="Code Lutin"
                            class="img-responsive center-block">
                    </a>
                    <p>
                        Code Lutin est une équipe de femmes et d'hommes passionnés de développement informatique.
                        Nous sommes toutes et tous persuadés que notre expertise et les solutions que nous développons à
                        votre image vont vous permettre d'accélérer et optimiser vos processus métier.
                    </p>
                </div>

                <div class="col-xs-6 col-sm-6 text-center">
                    <a href="https://www.qlik.com" target="_blank" title="Qlik">
                        <img src="images/parrains/qlik.png" alt="Qlik" title="Qlik" class="img-responsive center-block">
                    </a>
                    <p>
                        Nos solutions d'analytics optimisée par l'IA et d'intégration des données s'adaptent aux besoins
                        des entreprises.
                    </p>
                </div>

                <div class="col-xs-6 col-sm-6 text-center">
                    <a href="https://www.liksi.fr/" target="_blank" title="Liksi">
                        <img src="images/parrains/liksi.png" alt="Liksi" title="Liksi"
                            class="img-responsive center-block">
                    </a>
                    <p>
                        Experts en développement logiciel.<br />
                        Le numérique comme levier de transformation des entreprises.
                    </p>
                </div>

                <div class="col-xs-6 col-sm-6 text-center">
                    <a href="https://www.groupeonepoint.com" target="_blank" title="Onepoint">
                        <img src="images/parrains/onepoint.png" alt="Onepoint" title="Onepoint"
                            class="img-responsive center-block">
                    </a>
                    <p>
                        Onepoint est l’architecte des grandes transformations des entreprises et des acteurs publics.
                    </p>
                </div>
            </div>

            <h1>Sponsors Silver</h1>

            <div class="row sponsors sponsors-silver">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="row equal-row">

                        <div class="col-xs-6 text-center">
                            <a href="https://www.groupe-creative.fr/" target="_blank" title="Creative Atlantique">
                                <img src="images/parrains/creativeatlantique.png" alt="Creative Atlantique"
                                    title="Creative Atlantique" class="img-responsive center-block">
                            </a>
                            <p>
                                Une seule vision de la technologie. La vôtre.
                            </p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="https://www.yuniko.fr" target="_blank" title="Yuniko">
                                <img src="images/parrains/yuniko.png" alt="Yuniko" title="Yuniko"
                                    class="img-responsive center-block">
                            </a>
                            <p>
                                Expertise RH et Tech pour valoriser opportunités et talents.
                            </p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="https://rca.fr/" target="_blank" title="RCA">
                                <img src="images/parrains/rca.png" alt="RCA" title="RCA"
                                    class="img-responsive center-block">
                            </a>
                            <p>
                                Ensemble, vers une nouvelle ère pour l’expertise comptable.
                            </p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="https://www.externatic.fr/" target="_blank" title="Externatic">
                                <img src="images/parrains/externatic.png" alt="Externatic" title="Externatic"
                                    class="img-responsive center-block">
                            </a>
                            <p>
                                Cabinet de recrutement informatique.
                            </p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="https://www.kleegroup.com" target="_blank" title="Klee Group">
                                <img src="images/parrains/kleegroup.png" alt="Klee Group" title="Klee Group"
                                    class="img-responsive center-block">
                            </a>
                            <p>
                                Créateur de solutions digitales métier.
                            </p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="https://www.sqli.com/" target="_blank" title="SQLI">
                                <img src="images/parrains/sqli.png" alt="SQLI" title="SQLI"
                                    class="img-responsive center-block">
                            </a>
                            <p>
                                Nous créons des expériences digitales qui élèvent les performances des entreprises où qu’elles soient.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">Vous souhaitez devenir sponsors, contactez nous à <a
                    href="mailto:team@nantesjug.org">team@nantesjug.org</a></div>
        </div>
    </div>
</div>