<div class="row sponsors-conf">

    <h1>Conférence</h1>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-xs-offset-0">
        <a href="https://devoxx.fr/" target="_blank" title="Devoxx France 2023">
            <img src="images/specials/devoxx-france-2023.jpg" alt="Devoxx France 2023" title="Devoxx France 2023" class="img-responsive">
        </a>
    </div>

    <div class="clear"></div>

</div>

<br/>

<div class="row partners hidden-print">
    <h1>Partenaires</h1>

      <div class="col-xs-6 col-sm-4 col-sm-offset-2" >
          <a href="http://www.epitech.eu/" target="_blank" title="Epitech Nantes">
              <img src="images/parrains/epitech-bw.png" alt="Epitech Nantes" title="Epitech Nantes" class="img-responsive center-block">
          </a>
      </div>
      <div class="col-xs-6 col-sm-4" >
          <a href="http://www.jetbrains.com/" target="_blank" title="JetBrains">
              <img src="images/parrains/jetbrains-bw.png" alt="JetBrains" title="JetBrains" class="img-responsive center-block">
          </a>
      </div>
</div>
