<div class="row sponsors-conf">

    <h1>Conference Partner</h1>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-xs-offset-0">
        <a href="https://devoxx.be/" target="_blank" title="Devoxx Belgium 2016">
            <img src="images/sponsors/devoxx-be-2016.gif" alt="Devoxx Belgium 2016" title="Devoxx Belgium 2016" class="img-responsive">
        </a>
    </div>

    <div class="clear"></div>

</div>

<br/>

<div class="row partners hidden-print">
    <h1>Partenaires</h1>

      <div class="col-xs-6 col-sm-3" >
          <a href="http://www.epitech.eu/" target="_blank" title="Epitech Nantes">
              <img src="images/sponsors/epitech-bw.png" alt="Epitech Nantes" title="Epitech Nantes" class="img-responsive center-block">
          </a>
      </div>
      <div class="col-xs-6 col-sm-3" >
          <a href="http://www.nantes-amenagement.fr/hub-creatic/" target="_blank" title="Hub Creatic">
              <img src="images/sponsors/hub-creatic-bw.png" alt="Hub Creatic" title="Hub Creatic" class="img-responsive center-block">
          </a>
      </div>
      <div class="col-xs-6 col-sm-3" >
          <a href="http://www.jetbrains.com/" target="_blank" title="JetBrains">
              <img src="images/sponsors/jetbrains-bw.png" alt="JetBrains" title="JetBrains" class="img-responsive center-block">
          </a>
      </div>
      <div class="col-xs-6 col-sm-3" >
          <a href="http://cantine.atlantic2.org/" target="_blank" title="La Cantine">
              <img src="images/sponsors/cantine-bw.png" alt="La Cantine" title="La Cantine" class="img-responsive center-block">
          </a>
      </div>
</div>
