<div class="row sponsors-conf">

    <h1>Conference Partner<!-- <img class="sponsors-type" src="images/sponsors/gold_sponsor.png" alt="Sponsors Gold"/>--></h1>

    <div>
        <a href="http://www.devoxx.fr/" target="_blank" title="Devoxx France 2015">
            <img src="images/sponsors/devoxx-fr-2015.png" alt="Devoxx France 2015" title="Devoxx France 2015">
        </a>
    </div>

    <div class="clear"></div>


</div>

<br/>

<div class="row partners">

    <h1>Partenaires</h1>

    <div>

        <div class="col-xs-12 col-sm-3" >
            <a href="http://www.epitech.eu/" target="_blank" title="Epitech Nantes">
                <img src="images/sponsors/epitech.png" alt="Epitech Nantes" title="Epitech Nantes">
            </a>
        </div>
        <div class="col-xs-12 col-sm-3" >
            <a href="http://www.epsi.fr/" target="_blank" title="EPSI Nantes">
                <img src="images/sponsors/epsi.png" alt="EPSI Nantes" title="EPSI Nantes">
            </a>
        </div>
        <div class="col-xs-12 col-sm-3" >
            <a href="http://www.jetbrains.com/" target="_blank" title="JetBrains">
                <img src="images/sponsors/jetbrains.png" alt="JetBrains" title="JetBrains">
            </a>
        </div>
        <div class="col-xs-12 col-sm-3" >
            <a href="http://cantine.atlantic2.org/" target="_blank" title="La Cantine">
                <img src="images/sponsors/cantine.png" alt="La Cantine" title="La Cantine">
            </a>
        </div>

        <div class="clear"></div>
    </div>
</div>
