<span class="hidden-print">
    <span class="inscription" ng-if="!event.register && event.date >= today" >
        <a class="btn btn-jug" ng-href="#" disabled title="S&#39;inscrire" target="_blank">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> S'inscrire
        </a>
        Inscription bientôt disponible (restez informé avec notre <a href="http://www.meetup.com/fr-FR/Nantes-Java-User-Group/" title="Meetup du JUG" target="_blank"><img src="images/site/meetup.svg" height="20px"></a> et <a href="https://twitter.com/nantesjug" target="_blank"><img src="images/site/logo-x.png" height="12px"></a>)
    </span>
    <span class="inscription" ng-if="event.register && event.date >= today">
        <a class="btn btn-jug" ng-href="{{event.register}}" title="S&#39;inscrire" target="_blank">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> S'inscrire à la soirée
        </a>
        <a class="link-jug" ng-href="http://www.google.com/calendar/event?action=TEMPLATE&text=[Nantes JUG] {{event.gcal.title}}&dates={{event.gcal.date}}&details=&location={{event.gcal.location}}" title="S&#39;inscrire" target="_blank">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Ajouter dans google calendar
        </a>
    </span>
</span>
