<h1>Sponsors Gold</h1>

<div class="row sponsors">

    <div class="col-xs-6 col-sm-3">
        <a href="https://www.codelutin.com" target="_blank" title="Code Lutin">
            <img src="images/parrains/codelutin.png" alt="Code Lutin" title="Code Lutin"
                class="img-responsive center-block">
        </a>
    </div>

    <div class="col-xs-6 col-sm-3">
        <a href="https://www.qlik.com" target="_blank" title="Qlik">
            <img src="images/parrains/qlik.png" alt="Qlik" title="Qlik" class="img-responsive center-block">
        </a>
    </div>

    <div class="col-xs-6 col-sm-3">
        <a href="https://www.liksi.fr/" target="_blank" title="Liksi">
            <img src="images/parrains/liksi.png" alt="Liksi" title="Liksi" class="img-responsive center-block">
        </a>
    </div>

    <div class="col-xs-6 col-sm-3">
        <a href="https://www.groupeonepoint.com" target="_blank" title="Onepoint">
            <img src="images/parrains/onepoint.png" alt="Onepoint" title="Onepoint" class="img-responsive center-block">
        </a>
    </div>

    <div class="clear"></div>
</div>

<h1>Sponsors Silver</h1>

<div class="row sponsors sponsors-silver">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="col-xs-4">
                <a href="https://www.groupe-creative.fr/" target="_blank" title="Creative Atlantique">
                    <img src="images/parrains/creativeatlantique.png" alt="Creative Atlantique"
                        title="Creative Atlantique" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://www.yuniko.fr" target="_blank" title="Yuniko">
                    <img src="images/parrains/yuniko.png" alt="Yuniko" title="Yuniko"
                        class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://rca.fr/" target="_blank" title="RCA">
                    <img src="images/parrains/rca.png" alt="RCA" title="RCA" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://www.externatic.fr/" target="_blank" title="Externatic">
                    <img src="images/parrains/externatic.png" alt="Externatic" title="Externatic"
                        class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://www.kleegroup.com" target="_blank" title="Klee Group">
                    <img src="images/parrains/kleegroup.png" alt="Klee Group" title="Klee Group"
                        class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://www.sqli.com/" target="_blank" title="SQLI">
                    <img src="images/parrains/sqli.png" alt="SQLI" title="SQLI" class="img-responsive center-block">
                </a>
            </div>
        </div>
    </div>
</div>