<div class="row sponsors">

    <h1>Sponsors Gold<!-- <img class="sponsors-type" src="images/parrains/gold_sponsor.png" alt="Sponsors Gold"/>--></h1>

    <div class="col-xs-6 col-sm-3" >
        <a href="http://www.netapsys.fr/" target="_blank" title="Netapsys">
            <img src="images/parrains/netapsys.png" alt="Netapsys" title="Netapsys" class="img-responsive center-block">
        </a>
    </div>

    <div class="col-xs-6 col-sm-3" >
        <a href="http://www.serli.com/" target="_blank" title="Serli">
            <img src="images/parrains/serli.png" alt="Serli" title="Serli" class="img-responsive center-block">
        </a>
    </div>

    <div class="col-xs-6 col-sm-3" >
        <a href="http://www.softeam.fr/" target="_blank" title="Softeam">
            <img src="images/parrains/softeam.png" alt="Softeam" title="Softeam" class="img-responsive center-block">
        </a>
    </div>

    <div class="col-xs-6 col-sm-3" >
        <a href="http://www.voyages-sncf.com/" target="_blank" title="Voyages Sncf">
            <img src="images/parrains/voyage-sncf.png" alt="Voyages Sncf" title="Voyages Sncf" class="img-responsive center-block">
        </a>
    </div>

    <div class="clear"></div>
</div>

<div class="row sponsors sponsors-silver">
    <h1>Sponsors Silver<!-- <img class="sponsors-type" src="images/parrains/gold_sponsor.png" alt="Sponsors Gold"/>--></h1>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2" >
        <div class="row">
            <div class="col-xs-3 col-sm-3" >
                <a href="http://www.kosmos.fr/" target="_blank" title="Kosmos">
                    <img src="images/parrains/kosmos.png" alt="Kosmos" title="Kosmos" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-3 col-sm-3" >
                <a href="http://www.ippon.fr/" target="_blank" title="Ippon">
                    <img src="images/parrains/ippon.png" alt="Ippon" title="Ippon" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-3 col-sm-3" >
                <a href="http://www.zenika.com/" target="_blank" title="Zenika">
                    <img src="images/parrains/zenika.png" alt="Zenika" title="Zenika" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-3 col-sm-3" >
                <a href="http://restlet.com/" target="_blank" title="Restlet">
                    <img src="images/parrains/restlet.png" alt="Restlet" title="Restlet" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-3 col-sm-3" >
                <a href="https://www.saagie.com/" target="_blank" title="Saagie">
                    <img src="images/parrains/saagie.png" alt="Saagie" title="Saagie" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-3 col-sm-3">
                <a href="http://www.groupe-creative.fr/" target="_blank" title="Creative Atlantique">
                    <img src="images/parrains/creativeatlantique.png" alt="Creative Atlantique" title="Creative Atlantique" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-3 col-sm-3" >
                <a href="https://www.fr.sogeti.com/" target="_blank" title="Sogeti">
                    <img src="images/parrains/sogeti.png" alt="Sogeti" title="Sogeti" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-xs-3 col-sm-3">
                <a href="www.devoxx.fr/" target="_blank" title="Devoxx France">
                  <img src="images/parrains/devoxx-france.png" alt="Devoxx France" title="Devoxx France" class="img-responsive center-block">
                </a>
            </div>

        </div>
    </div>
</div>
