---
layout: page
title: One Speakers
---


<div class="row">
  <div class="span2">
	{% if page.speaker.gravatar %}
	  <img src="{{ page.speaker.gravatar | to_gravatar }}" title="{{ page.speaker.name }}" alt="{{ page.speaker.name }}" width="150" />
	{% else %}
		{% if page.speaker.image %}
	  		<img src="{{ page.speaker.image.url }}" title="{{ page.speaker.name }}" alt="{{ page.speaker.name }}" width="150" />
		{% endif %}
	{% endif %}
  </div>

  <div class="span10"> {{ page.speaker.bio | simple_format  }} 
  </div>

</div>


