.drawLists{
    margin-bottom: 20px;
}
.editable{
    min-height: 100px;
    width: 100%;
}
.editable-alert{
    color: red;
    display: block;
    margin-top: -20px;
}
.board-what{
    padding: 10px 0 0 0;
}
.board-value{
    color: rgb(66, 139, 25);
    height: 32px;
    overflow: hidden;
}
.board-who-canceled .board-value  {
    color: rgb(160, 52, 52);
}
.board-who-canceled  {
    opacity: 0.5;
}

.board {
  margin-top: 20px;
  margin-bottom: 50px;
}

.board .row {
    margin-left: 0;
    margin-right: 0;
}
.board-what {
    margin-bottom: 5px;
}
.board-who {
    margin-bottom: 20px;
}
.draw-buttons button {
    margin-bottom: 5px;
}

/* xs */
@media (max-width: 767px) {
    .draw-buttons {
        text-align: center;
    }
}

.board-whos{
  padding: 0;
}

.board-photo {
    margin-bottom: 5px;
}
.board-photo.final {
  opacity: 1;
}
.board-photo img {
  max-width: 100%;
}
