/*****GEN*****/
body {
  color: #696969;
  padding: 60px 0 0 0;
  background: url('../images/site/wordle.png') repeat-x;
  background-position-y: 40px;
}
h1 {
  color: #ef2b35;
  font-weight: 300;
  margin: 0 0 20px 0;
  font-family: 'Raleway', sans-serif;
}
h2 {
  margin: 20px 0 20px 0;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
h2 span {
  font-size:15px;
  display: block;
  margin:-20px 0 0 0;
  font-weight: normal;
}
h3 {
  line-height: 1;
  font-size: 15px;
  font-weight: bold;
}
h4 {
  font-size: 13px;
}
.clear {
  clear: left;
}
ul {
  margin: 0 0 0 50px;
  list-style-image: url('../images/site/puce.png');
}
article {
  margin:0 0 20px 0 !important;
}
abbr[title] {
  border: none;
  cursor: inherit;
}
a {
  color: #ef2b35;
  text-decoration: none;
}
/*****SPONSORS*****/
section {
  background-color: #eae7e7;
  padding:10px;
  margin:20px 0 0 0;
}
section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section h1 {
  color:#9b9b9b;
  margin:0 0 20px 0;
  text-align: center;
}
/* xs */
@media (max-width: 767px) {
  .sponsors img {
    height: 78px;
  }
  .partners img {
    height: 45px;
  }
  .partners .partner-big img {
    height: 80px;
  }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .sponsors img {
    width: 100%;
  }
  .partners img {
    height: 55px;
  }
  .partners .partner-big img {
    height: 110px;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .sponsors img {
    width: 100%;
  }
  .partners img {
    height: 70px;
  }
  .partners .partner-big img {
    height: 140px;
  }
}
/* lg */
@media (min-width: 1200px) {
  .sponsors img {
    width: 100%;
  }
  .partners img {
    height: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .partners .partner-big img {
    height: 150px;
  }
}
/*****LAYOUT*****/
.jug-logo img {
  float: left;
  margin: -40px 10px 20px 0;
  position: relative;
  z-index: 1050;
}
/* xs */
@media (max-width: 767px) {
  .jug-logo {
    width: 50px;
    height: 5px;
  }
  .jug-logo img {
    margin-left: -70px;
    margin-top: -52px;
  }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .jug-logo {
    width: 120px;
    height: 60px;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .jug-logo {
    width: 140px;
    height: 70px;
  }
}
/* lg */
@media (min-width: 1200px) {
  .jug-logo {
    width: 200px;
    height: 90px;
  }
  .jug-logo img {
    margin-top: -45px;
  }
}
.span3 {
  width: 190px !important;
}
a.navbar-brand {
  color: #373737 !important;
  font-size: 20px;
  font-weight: 200;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.page-header {
  border:none !important;
}
.label {
  display: inline-block;
  font-size: 100%;
  width: 70px;
}
.label_info {
  color:#fff;
  font-weight: bold;
  text-align: center;
  background-color: #5bc0de;
  padding: 3px;
  margin:0 10px 10px 0;
}
.jug-search {
  margin-bottom: 20px;
}
/*****NAVIGATION*****/
.java_logo {
  width: 60px;
  padding-top: 0;
  margin-right: 30px;
}
.java_logo span {
  z-index: 10;
  position: absolute;
  width: 60px;
  height: 89px;
  background: url('../images/site/logo_java.png') no-repeat;
}
.navbar {
  border-bottom: 1px solid #000000;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(#e6e6e6),
    to(#D0D0D0)
  );
  background: -webkit-linear-gradient(
    top,
    #e6e6e6,
    #D0D0D0
  );
  background: -moz-linear-gradient(
    top,
    #e6e6e6,
    #D0D0D0
  );
  background: -o-linear-gradient(
    top,
    #e6e6e6,
    #D0D0D0
  );
  background: linear-gradient(
    top,
    #e6e6e6,
    #D0D0D0
  );
}
.navbar .navbar-nav>.active>a {
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(#D0D0D0),
    to(#e6e6e6)
  );
  background: -webkit-linear-gradient(
    top,
    #D0D0D0,
    #e6e6e6
  );
  background: -moz-linear-gradient(
    top,
    #D0D0D0,
    #e6e6e6
  );
  background: -o-linear-gradient(
    top,
    #D0D0D0,
    #e6e6e6
  );
  background: linear-gradient(
    top,
    #D0D0D0,
    #e6e6e6
  );
}

.nav>li>a {
  text-shadow: none !important;
  color: #e21822 !important;
}
.nav>li>a:hover {
  color: #fff !important;
}
.nav>li:hover {
  color: #fff;
  background-color: #e21822;
}
.span4 {
  margin: 0 0 15px 0;
}
.sidebar-nav {
  padding: 0;
}
.partners-title {
  display: block;
  margin: 0 0 20px 0;
  color: #ef2b35;
  font-weight: bold;
  text-align: center;
}

img.sponsors-type {
  display: inline;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.sponsors, .partners {
  margin-bottom: 20px;
}
/*****SOIREE*****/
.inscription {
  display: block;
  margin: 0 0 20px 0;
}
.inscription-missing {
  color: #ef2b35;
}
.soiree_description {
  margin: 35px 0 0 0;
}
.jug-short-description {
  margin: 0 0 20px 0;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/*****SPEAKERS*****/
.speakers_data {
  float: left;
}
.jug-speakers .speaker_photo {
  margin: 5px auto;
}
.speaker_photo {
  margin: 0 20px 25px 0;
  width: 150px;
}
/*****RESEAUX SOCIAUX*****/
.btn-twitter {
  color:#fff;
  text-align: center;
  border-radius: 4px;
  font-weight: normal;
  margin: 10px 0 0 0; padding: 10px 10px 10px 35px;
  background: url('../images/site/logo_twitter.png') no-repeat 7px 10px #00acee;
}
.btn-twitter:hover {
  color:#fff;
  text-decoration: none;
  background-color: #ef2b35;
}
.btn-google {
  color:#fff;
  text-align: center;
  border-radius: 4px;
  font-weight: normal;
  margin: 10px 0 0 0; padding: 10px 10px 10px 35px;
  background: url('../images/site/logo_google.png') no-repeat 0 6px #db4936;
}
.btn-google:hover {
  color:#fff;
  text-decoration: none;
  background-color: #ff0000;
}
/*****INFOS*****/
.jug-info {
  background-color:#ffffff;
}
/*****FOOTER*****/
footer {
  color: #fff;
  padding:10px;
  font-weight: bold;
  text-align: center;
  background-color: #333;
}
/*****SOCIAL*****/
.social {
  background-repeat: no-repeat;
  background-size: 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  vertical-align: middle;
}
.social-twitter {
  background-image: url('../images/social/twitter-bird.png');
}
.social-gplus {
  background-image: url('../images/social/google-plus.png');
}
.social-github {
  background-image: url('../images/social/github.png');
}
.social-website {
  background-image: url('../images/social/rss.png');
}
/*****DOCUMENTS*****/
.doc {
  background-repeat: no-repeat;
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  vertical-align: middle;
}
.doc-slideshare {
  background-image: url('../images/doc/slideshare.png');
}
.doc-slides {
  background-image: url('../images/doc/slides.png');
}
.doc-github {
  background-image: url('../images/doc/github.png');
}
/* PAGES */
.jug-event-subject span.label, .jug-speaker-subjects span.label{
  margin-right: 15px;
}
.jug-speaker-subjects ul {
  margin-left: 0;
  padding-left: 20px;
}
.jug-speaker-subjects li {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.jug-event-location img {
  display: inline-block;
  float: left;
  width: 40px;
  margin-right: 20px;
}
.jug-event-location address {
  margin-top: 7px
}

.jug-event-location address:after {
  clear: both;
}
.jug-event-location a, .jug-event-location a:hover, .jug-event-location a:visited {
  text-decoration: none;
  color: #696969;
}
.jug-event-detail {
  margin-bottom: 20px;
}
.jug-speakers > div {
  margin-bottom: 20px;
}
.jug-speakers img {
  height: 150px;
}
@media (max-width: 767px) {
  .jug-speakers-item{
    padding-left: 2px;
    padding-right: 2px;
  }
}
