@import url(http://fonts.googleapis.com/css?family=Varela+Round);

/*****GEN*****/
body {
  color: #696969;
  padding: 60px 0 0 0;
  background: url('../images/site/wordle.png') repeat-x;
  background-position-y: 40px;
}
h1 {
  color: #ef2b35;
  font-weight: 300;
  margin: 0 0 20px 0;
  font-family: 'Raleway', sans-serif;
}
h2 {
  margin: 20px 0 20px 0;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
h2 span.old-time {
  position:relative;
}

h2 span.old-time:before {
    position: absolute;
    content: "";
    top: 9px;
    left: -2px;
    right: -2px;
    border-top: 2px solid red;
    -webkit-transform:rotate(-12deg);
    -moz-transform:rotate(-12deg);
    -ms-transform:rotate(-12deg);
    -o-transform:rotate(-12deg);
    transform:rotate(-12deg);
}

h3 {
  line-height: 1;
  font-size: 15px;
  font-weight: bold;
}
h4 {
  font-size: 13px;
}
.clear {
  clear: left;
}
ul {
  margin: 0 0 0 50px;
  list-style-image: url('../images/site/puce.png');
}
article {
  margin:0 0 20px 0 !important;
}
abbr[title] {
  border: none;
  cursor: inherit;
}
a {
  color: #ef2b35;
  text-decoration: none;
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .nav>li>a {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.hide-layout .layout, .hide-layout {
    display: none;
}

.slide {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 40px;
    min-height: 400px;
}

.slide .sponsors h1 {
    color:#9b9b9b;
    margin:0 0 20px 0;
    text-align: left;
}

.slide-page-fixed-header {
    position: fixed;
    top: 10px;
    height: 100px;
    left: 40px;
    right: 40px;
    margin: 0;
}
.slide-page-fixed-content  {
    position: absolute;
    top: 120px;
    bottom: 220px;
    left: 120px;
    right: 120px;
    margin: 0;
    background-color: white;
}
.slide-page-fixed-content, .slide-page-fixed-content h2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}
.slide-page-fixed-content h2 {
    font-size: 26px;
}
.slide-page-fixed-content-date {
    font-size: 20px;
}

.lifted {
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 0px 1px 1px  rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 1px 1px  rgba(0,0,0,0.2);
}
.lifted:before, .lifted:after {

    content: "";
    position: absolute;
    z-index: -1;
    -ms-transform: skew(-3deg,-2deg);
    -webkit-transform: skew(-3deg,-2deg); /* Safari and Chrome */
    -o-transform: skew(-3deg,-2deg); /* Opera */
    -moz-transform: skew(-3deg,-2deg); /* Firefox */
    bottom: 14px;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.3);
    height: 50px;
    left: 1px;
    max-width: 50%;
    width: 50%;
}
.lifted:after {

    -ms-transform: skew(3deg,2deg); /* IE 9 */
    -webkit-transform: skew(3deg,2deg); /* Safari and Chrome */
    -o-transform: skew(3deg,2deg); /* Opera */
    -moz-transform: skew(3deg,2deg); /* Firefox */
    left: auto;
    right: 1px;
}

.slide-page-fixed-content > div.valign {
    position: absolute;
    display: table;
    height: 100%;
}
.slide-page-fixed-content > div.valign > div {
    vertical-align: middle;
    position:relative;
    display: table-cell;
}
.slide-page-fixed-content-twitter {
    position: absolute;
    bottom: 20px;
    right: 60px;
}
.slide-page-fixed-content-twitter h2 {
    color: #8c8c8c;
}
.slide-page-fixed-bottom {
    position: fixed;
    height: 200px;
    bottom: 10px;
    left: 40px;
    right: 40px;
    margin: 0;
}

/*****SPONSORS*****/
section {
  background-color: #eae7e7;
  padding:10px;
  margin:20px 0 0 0;
}
section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section h1, .sponsors-page h1 {
  color:#9b9b9b;
  margin:0 0 20px 0;
  text-align: center;
}
.sponsors img {
    margin: auto;
    display: block;
}

footer .line2 {
    line-height: 50px;
}
.coffee-nantes {
    height: 50px;
}

/* xs */
@media (max-width: 767px) {
  .sponsors img {
    height: 78px;
  }
  .sponsors-silver img, .partners img {
    height: 45px;
    margin-bottom: 20px;
  }
  .partners .partner-big img {
    height: 80px;
  }
  .slide .sponsors img {
    height: 45px;
  }
  .slide .sponsors-silver img, .slide .partners img {
    height: 35px;
  }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .sponsors img {
    width: 100%;
  }
  .sponsors-silver img, .partners img {
    width: 125px;
  }
  .partners .partner-big img {
    width: 360px;
  }
  .slide .sponsors img {
    width: 80%;
  }
  .slide .sponsors-silver img, .slide .partners img {
    width: 45px;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .sponsors img {
    width: 100%;
  }
  .sponsors-silver img, .partners img {
    width: 160px;
  }
  .partners .partner-big img {
    width: 460px;
  }
  .sponsors-page .sponsors img {
    width: 300px;
  }
  .sponsors-page .sponsors-silver img {
    width: 200px;
  }
  .slide .sponsors img {
    width: 100%;
  }
  .slide .sponsors-silver img, .slide .partners img {
    width: 70px;
  }
  footer .twitter {
    text-align: right;
  }
  footer .coffee{
    text-align: left;
  }
}
/* lg */
@media (min-width: 1200px) {
  .sponsors img {
    width: 100%;
  }
  .sponsors-silver img, .partners img {
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .partners .partner-big img {
    width: 500px;
  }
  .sponsors-page .sponsors img {
    width: 350px;
  }
  .sponsors-page .sponsors-silver img {
    width: 250px;
  }
  .slide .sponsors img {
    width: 80%;
  }
  .slide .sponsors-silver img, .slide .partners img {
    width: 100px;
  }
  footer .twitter {
    text-align: right;
  }
  footer .coffee{
    text-align: left;
  }
}
/*****LAYOUT*****/
.jug-logo-no-layout img {
    float: left;
    margin: 0 10px 20px 0;
    position: relative;
    z-index: 1050;
}
.jug-logo img {
  float: left;
  margin: -40px 10px 20px 0;
  position: relative;
  z-index: 1050;
}
/* xs */
@media (max-width: 767px) {
  .jug-logo {
    width: 50px;
    height: 5px;
  }
  .jug-logo img {
    margin-left: -70px;
    margin-top: -52px;
  }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .jug-logo {
    width: 120px;
    height: 60px;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .jug-logo {
    width: 140px;
    height: 70px;
  }
}
/* lg */
@media (min-width: 1200px) {
  .jug-logo {
    width: 200px;
    height: 90px;
  }
  .jug-logo img {
    margin-top: -45px;
  }
}
.span3 {
  width: 190px !important;
}
a.navbar-brand {
  color: #373737 !important;
  font-size: 20px;
  font-weight: 200;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.page-header {
  border:none !important;
}
.label-large {
  display: inline-block;
  font-size: 100%;
  width: 70px;
}

.label-info {
  color:#fff;
  font-weight: bold;
  text-align: center;
  background-color: #5bc0de;
  padding: 3px;
  margin:0 10px 10px 0;
}
.jug-search {
  margin-bottom: 20px;
}
/*****NAVIGATION*****/
.java_logo {
  width: 60px;
  padding-top: 0;
  margin-right: 30px;
}
.java_logo span {
  z-index: 10;
  position: absolute;
  width: 60px;
  height: 89px;
  background: url('../images/site/logo_java.png') no-repeat;
}
.navbar {
  border-bottom: 1px solid #000000;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(#e6e6e6),
    to(#D0D0D0)
  );
  background: -webkit-linear-gradient(
    top,
    #e6e6e6,
    #D0D0D0
  );
  background: -moz-linear-gradient(
    top,
    #e6e6e6,
    #D0D0D0
  );
  background: -o-linear-gradient(
    top,
    #e6e6e6,
    #D0D0D0
  );
  background: linear-gradient(
    top,
    #e6e6e6,
    #D0D0D0
  );
}
.navbar .navbar-nav>.active>a {
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(#D0D0D0),
    to(#e6e6e6)
  );
  background: -webkit-linear-gradient(
    top,
    #D0D0D0,
    #e6e6e6
  );
  background: -moz-linear-gradient(
    top,
    #D0D0D0,
    #e6e6e6
  );
  background: -o-linear-gradient(
    top,
    #D0D0D0,
    #e6e6e6
  );
  background: linear-gradient(
    top,
    #D0D0D0,
    #e6e6e6
  );
}

.nav>li>a {
  text-shadow: none !important;
  color: #e21822 !important;
}
.nav>li>a:hover {
  color: #fff !important;
}
.nav>li:hover {
  color: #fff;
  background-color: #e21822;
}
.span4 {
  margin: 0 0 15px 0;
}
.sidebar-nav {
  padding: 0;
}
.partners-title {
  display: block;
  margin: 0 0 20px 0;
  color: #ef2b35;
  font-weight: bold;
  text-align: center;
}

img.sponsors-type {
  display: inline;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.sponsors-page h1 {
  padding: 20px 0;
}

.sponsors, .partners {
  margin-bottom: 20px;
}
/*****SOIREE*****/
.inscription {
  display: block;
  margin: 0 0 20px 0;
}
.inscription-missing {
  color: #ef2b35;
}
.soiree_description {
  margin: 35px 0 0 0;
}
.jug-short-description {
  margin: 0 0 20px 0;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/*****SPEAKERS*****/
.speakers_data {
  float: left;
}
.jug-speakers .speaker_photo {
  margin: 5px auto;
}
.speaker_photo {
  margin: 0 20px 25px 0;
  width: 150px;
}
/*****RESEAUX SOCIAUX*****/
.btn-twitter {
  color:#fff;
  text-align: center;
  border-radius: 4px;
  font-weight: normal;
  margin: 10px 0 0 0; padding: 10px 10px 10px 35px;
  background: url('../images/site/logo_twitter.png') no-repeat 7px 10px #00acee;
}
.btn-twitter:hover {
  color:#fff;
  text-decoration: none;
  background-color: #ef2b35;
}
.btn-google {
  color:#fff;
  text-align: center;
  border-radius: 4px;
  font-weight: normal;
  margin: 10px 0 0 0; padding: 10px 10px 10px 35px;
  background: url('../images/site/logo_google.png') no-repeat 0 6px #db4936;
}
.btn-google:hover {
  color:#fff;
  text-decoration: none;
  background-color: #ff0000;
}
/*****INFOS*****/
.jug-info {
  background-color:#ffffff;
}
/*****FOOTER*****/
footer {
  color: #fff;
  padding:10px;
  font-weight: bold;
  text-align: center;
  background-color: #333;
}
/*****SOCIAL*****/
.social {
  background-repeat: no-repeat;
  background-size: 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  vertical-align: middle;
}
.social-twitter {
  background-image: url('../images/social/twitter-bird.png');
}
.social-gplus {
  background-image: url('../images/social/google-plus.png');
}
.social-github {
  background-image: url('../images/social/github.png');
}
.social-website {
  background-image: url('../images/social/rss.png');
}
/*****DOCUMENTS*****/
.doc {
  background-repeat: no-repeat;
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  vertical-align: middle;
}
.doc-slideshare {
  background-image: url('../images/doc/slideshare.png');
}
.doc-slid-es {
  background-image: url('../images/doc/slides.png');
}
.doc-drive {
  background-image: url('../images/doc/drive.png');
}
.doc-github {
  background-image: url('../images/doc/github.png');
}
.doc-youtube {
  background-image: url('../images/doc/youtube.png');
}
/* PAGES */
.jug-event-subject span.label, .jug-speaker-subjects span.label{
  margin-right: 15px;
}
.jug-speaker-subjects ul {
  margin-left: 0;
  padding-left: 20px;
}
.jug-speaker-subjects li {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.jug-event-location img {
  display: inline-block;
  float: left;
  width: 40px;
  margin-right: 20px;
}
.jug-event-location address {
  margin-top: 7px
}

.jug-event-location address:after {
  clear: both;
}
.jug-event-location a, .jug-event-location a:hover, .jug-event-location a:visited {
  text-decoration: none;
  color: #696969;
}
.jug-event-detail {
  margin-bottom: 20px;
}
.jug-speakers > div {
  margin-bottom: 20px;
}
.jug-speakers img {
  height: 150px;
}
@media (max-width: 767px) {
  .jug-speakers-item{
    padding-left: 2px;
    padding-right: 2px;
  }
}
footer .subscribe {
    margin-bottom: 10px;
}
footer .subscribe form, .container .subscribe form {
    text-align:center;
    display: inline-block;
}
footer .subscribe input, .container .subscribe input {
    height: 20px;
    width: 150px;
}
footer .twitter .btn-twitter {
    padding: 7px 7px 7px 35px;
    background-position-y: 7px;
}